{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Produto</title>

    <!-- CSS global unificado -->
    <link rel="stylesheet" href="{% static 'produtos/css/estilo_global.css' %}">
</head>
<body>

    <div class="container">
        <h1 class="titulo">Detalhes do Produto</h1>

        <p class="info"><strong>ID:</strong> {{ produto.id }}</p>
        <p class="info"><strong>Nome:</strong> {{ produto.nome }}</p>
        <p class="info"><strong>Preço:</strong> R$ {{ produto.preco }}</p>

        <a href="{% url 'listar_produtos' %}" class="btn btn-back">Voltar</a>
    </div>

</body>
</html>
